@font-face {
    font-family: 'Inconsolata';
    src: url('/fonts/Inconsolata/Inconsolata-Regular.woff2') format('woff2');
    font-weight: regular;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('/fonts/Inconsolata/Inconsolata-Light.woff2') format('woff2');
    font-weight: light;
    font-style: italic;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('/fonts/Inconsolata/Inconsolata-SemiBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('/fonts/Inconsolata/Inconsolata-SemiBold.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Monaspace';
    src: url('/fonts/Monaspace/MonaspaceArgon-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Monaspace';
    src: url('/fonts/Monaspace/MonaspaceArgon-SemiBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
